---
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>DbH4ck UNT3ls</title>
  </head>
  <body class="min-h-screen flex flex-col items-center  bg-gray-50 py-10 gap-10">
    <div class="flex flex-col items-center  w-full max-w-2xl">
      <slot />
    </div>
  </body>
</html>
